/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 24, 2017, 7:14:26 PM
    Author     : 00140162
*/
body {
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  border: 2px solid #00F;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  border: 2px solid #AAA;
  padding: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

ul {
  border: 2px solid #0F0;
}

li {
  margin-bottom: 0;
}

li + li {
  margin-top: 15px;
}


